<div class="container contact">
    <h3>Usuários
        <a routerLink="../user-registration" class="btn-floating waves-effect waves-light blue" ><i class="material-icons">contacts</i></a>
    </h3>
  <hr/>        
    <table class="highlight" *ngIf="users && users!.length > 0">
    <thead>
        <tr>
        <th>Nome Completo</th>
        <th>email</th>
        <th>Administrador</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
        <td>{{ u.name | titlecase }}</td>
        <td>{{ u.email | lowercase }}</td>
        <td> {{ u!.isAdmin }}</td>
        <td class="right">
            <a (click)="onEdit(u)"><i class="material-icons my-icon-size" >edit</i></a>
        </td>
        <td>
            <a (click)="onDelete(u.email)"><i class="material-icons my-icon-size" >delete</i></a>
        </td>
        </tr>
    </tbody>
    </table>

    <div *ngIf="!users || users!.length == 0">
    <div class="row">
        <div class="center-align">
            <i class="col s12 material-icons large">do_not_disturb</i>
            <span class="col s12 flow-text">
               Não usuários cadastrados!
            </span>
        </div>
    </div>
    </div>
</div>