<div class="container contact">
    <div class="row">
       <div class="col s4 offset-s4">
        <h3>Horários das Aulas</h3>
      </div>  
    </div>
    <hr/>
    <!-- <div class="row">
      <div class="col s2 ">
        <a  routerLink="../class-registration" class="waves-effect waves-light btn blue">Segunda-feira</a>
      </div>
      <div class="col s2 ">
        <a  routerLink="../class-registration" class="waves-effect waves-light btn blue">Terça-feira</a>
      </div>
      <div class="col s2 ">
        <a  routerLink="../class-registration" class="waves-effect waves-light btn blue">Quarta-feira</a>
      </div>
      <div class="col s2 ">
        <a  routerLink="../class-registration" class="waves-effect waves-light btn blue">Quinta-feira</a>
      </div>
      <div class="col s2 ">
        <a  routerLink="../class-registration" class="waves-effect waves-light btn blue">Sexta-feira</a>
      </div>  
  </div> -->
  
      <div class="row">
        <div class="col s12" >
          <table class="highlight centered responsive-table">
            <thead>
              <tr>
                <th>Horários</th>
                <th colspan="4">Matérias</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td class="year-of-teaching">-</td>
                <td class="year-of-teaching"><a [routerLink]="['/class-registration']" [queryParams]="{ id: '5'}" >5º ano</a></td>
                <td class="year-of-teaching"><a [routerLink]="['/class-registration']" [queryParams]="{ id: '6'}" >6º ano</a></td>
                <td class="year-of-teaching"><a [routerLink]="['/class-registration']" [queryParams]="{ id: '7'}" >7º ano</a></td>
                <td class="year-of-teaching"><a [routerLink]="['/class-registration']" [queryParams]="{ id: '8'}" >8º ano</a></td>
                <td class="year-of-teaching"><a [routerLink]="['/class-registration']" [queryParams]="{ id: '9'}" >9º ano</a></td>
            </tr>
              <tr>
                  <td>07h15min as 08h05min</td>
                  <td>Matemática Prof. Camilo</td>
                  <td>Biologia Prof. Maria</td>
                  <td>História Prof. Marcos</td>
                  <td>Quimica Prof. Jose</td>
                  <td>Inglês Prof. Olivia</td>                  
                  <td><i class="material-icons">delete</i></td>
              </tr>
              <tr>
                <td>08h05min as 08h55min</td>
                <td>Matemática Prof. Camilo</td>
                <td>Biologia Prof. Maria</td>
                <td>História Prof. Marcos</td>
                <td>Quimica Prof. Jose</td>
                <td>Inglês Prof. Olivia</td>
                <td><i class="material-icons">delete</i></td>
              </tr>
              <tr>
                  <td>08h55min as 09h45min</td>
                  <td>Matemática Prof. Camilo</td>
                  <td>Biologia Prof. Maria</td>
                  <td>História Prof. Marcos</td>
                  <td>Quimica Prof. Jose</td>
                  <td>Inglês Prof. Olivia</td>                  
                  <td><i class="material-icons">delete</i></td>
              </tr>
              <tr>
                  <td>09h45min as 10h35min</td>
                  <td>Matemática Prof. Camilo</td>
                  <td>Biologia Prof. Maria</td>
                  <td>História Prof. Marcos</td>
                  <td>Quimica Prof. Jose</td>
                  <td>Inglês Prof. Olivia</td>
                  <td><i class="material-icons">delete</i></td>
                </tr>               
                <tr>
                  <td> 10h55min as 11h45min</td>
                  <td>Matemática Prof. Camilo</td>
                  <td>Biologia Prof. Maria</td>
                  <td>História Prof. Marcos</td>
                  <td>Quimica Prof. Jose</td>
                  <td>Inglês Prof. Olivia</td>
                  <td><i class="material-icons">delete</i></td>
                </tr>
            </tbody>
          </table>
  
        </div>
      </div>
  
  </div>
    
