<div class="row">
    <form class="col s3 offset-s4" #form="ngForm">
    <div class="row">
        <div class="input-field col s12">
        <input id="email" type="email" class="validate"  >
        <label for="email">Email</label>
        </div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password"  type="password"   class="validate" [(ngModel)]="this.valor" >
          <label for="password">Password</label>
          <span class="text-password" >  <i class="material-icons">visibility</i>  {{ this.valor }} </span>
        </div>
      </div>
      <div class="input-field col s12">
        <select (change) ="this.onSelectChange($event)" >
          <option value="" disabled selected></option>
          <option value="Municipal">Municipal</option>
          <option value="Estadual">Estadual</option>
          <option value="Federal">Federal</option>
          <option value="Federal">Privada</option>
        </select>
        <label>Rede escolar</label>
      </div>
      <div class="router-outlet">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-effect blue" type="submit" name="action">Login
            <i class="material-icons right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>