/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";


h3 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

div{
  color:#708090;
}

.text-darken-10{
  text-align: center;
}